<div class="container w-50 mt-5 text-center">
  <div id="limit" class="text-center m-3 text-white display-2">
    Word Limit: {{ limit }}
  </div>
  <input
    class="slider form-control-range"
    type="range"
    min="1"
    max="50"
    value="{{ limit }}"
    #limitv
    (change)="onChangeInLimit(limitv.value)"
  />
  <!-- <button [autofocus]="false" (click)="generateWords()" class="btn btn-info">
    Generate
  </button> -->

  <button onclick="this.blur()" (click)="generateWords()" class="btn btn-info">
    Generate
  </button>
  <div *ngIf="words" class="card card-body mb-5">
    <p class="display-4">
      {{ words }}
    </p>
  </div>
</div>
